<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
    <style>
        
        
        
        table,th,td{
           border: 2px solid white;
            border-collapse: collapse;
            
        }
        table{
            width: 700px;
            height: 400px;
            margin-top:30px ;
            text-align:center ;
            margin-left: 150px;
        }
        td{
            background-color: greenyellow;
        }
        th{
            background-color: lightgreen;
        }greenyellow
        
    </style>

<body>
<h1>About us</h1>
<br><br>
<table>
<tr>
  <th>product ID</th>
  <th>product name</th>
<th> product quality</th>
<th> product quantity</th>
  </tr>

<tr>
  <td>1</td>
<td>wheat</td>
  <td>Good</td>
  <td>200 bags</td>
  </tr>

<tr>
  <td>2</td>
<td>Rise</td>
  <td>Good</td>
  <td>250 bags</td>
  </tr>
    
<tr>
  <td>3</td>
<td>sugar</td>
  <td>Good</td>
  <td>200 bags</td>
  </tr>
<tr>
  <td>3</td>
<td>sugar</td>
  <td>Good</td>
  <td>200 bags</td>
  </tr>

<tr>
  <td>3</td>
<td>sugar</td>
  <td>Good</td>
  <td>200 bags</td>
  </tr>
<tr>
  <td>3</td>
<td>sugar</td>
  <td>Good</td>
  <td>200 bags</td>
  </tr>

</table>



</body>
</html>